.ui-widget-content.catalog_item{ :id => dom_id( catalog_item ) }
  .thumbs.yoxview= render_thumbs_of catalog_item    
  = form_for catalog_item, :url => cart_item_path( catalog_item ), :remote => true do   
    %h4
      = link_to_show catalog_item
      %div
        = roubles( catalog_item.price ) + " " + RUB
        = submit_to session.cart
    = render_sizes_choose_partial_of catalog_item
    = render_colours_choose_partial_of catalog_item                      
  .blurb= catalog_item.blurb
= draggable_element dom_id( catalog_item ), :revert => true
      