%h2
  = link_to_back @object
  = @object.name
= form_for @object, :url => cart_item_path( @object ), :remote => true, :html => { :class => "ui-widget-content" } do 
  = render_price_of @object
  = render_category_of @object
  = render_season_of @object    
  = submit_to session.cart  
  %div
    %b= @object.sizes.class_name_rus_cap.pluralize.colon      
    = render_sizes_choose_partial_of @object
    %b= @object.colours.class_name_rus_cap.pluralize.colon       
    = render_colours_choose_partial_of @object
    = @object.blurb
    = render_photos_of @object    
.clear