%h2
  = link_to_back
  = @object.name
= form_for @object, :url => cart_item_path( @object ), :remote => true, :html => { :class => "ui-widget-content" } do |f| 
  = f.label :price
  = number_to_currency( f.object.price )   
  = f.label :category
  = f.object.category.name  
  = f.label :season
  = f.object.season.name
  = submit_to_cart  
  %div
    = f.label :sizes      
    = render "catalog_items/attrs", :attrs => f.object.sizes
    = f.label :colours       
    = render "catalog_items/attrs", :attrs => f.object.colours      
    %div= f.object.blurb
    = render :partial => "catalog_items/photo", :collection => f.object.photos unless f.object.photos.empty?        
.clear