%h2
  = link_to_back @object
  = @object.name
= form_for @object, :url => cart_item_path( @object ), :remote => true, :html => { :class => "ui-widget-content" } do 
  = label :item, :price
  = number_to_currency( @object.price )   
  = label :item, :category
  = @object.category.name  
  = label :item, :season
  = @object.season.name
  = submit_to session.cart  
  %div
    = label :item, :sizes      
    = render "catalog_items/attrs", :attrs => @object.sizes
    = label :item, :colours       
    = render "catalog_items/attrs", :attrs => @object.colours      
    = @object.blurb
    = render :partial => "catalog_items/photo", :collection => @object.photos unless @object.photos.empty?        
.clear