= form_for :user do |f|
  = render "#{SharedPath}/error_messages", :object => @user
  %div
    = f.label :password
    %div= f.password_field :password
  %div
    = f.label :password_confirmation
    %div= f.password_field :password_confirmation
  %div= submit_tag t( :send )
    