= form_for :user do |form|
  = error_messages_for :user
  %div
    %label( for="user_password" ) Пароль:
    %div= form.password_field :password
  %div
    %label( for="user_password_confirmation" ) Подтверждение пароля:
    %div= form.password_field :password_confirmation
  %div= submit_tag "Отправить"
    