= form_for :user do |f|
  = f.error_messages
  %div= f.label :password
    %div= f.password_field :password
  %div= f.label :password_confirmation
    %div= f.password_field :password_confirmation
  %div= submit_tag "Отправить"
    