%h3= @user.class.human_attribute_name( :new_page_title )
= form_for @user do |f|
  = error_messages_for :user
  - with_options :f => f, :object => @user do |in_form|
    %div= in_form.render "shared/text_field", :text_field => :login          
    %div= in_form.render "shared/text_field", :text_field => :email             
    %div= in_form.render "shared/text_field", :text_field => :last_name         
    %div= in_form.render "shared/text_field", :text_field => :first_name           
    %div= in_form.render "shared/password_field", :password_field => :password    
    %div= in_form.render "shared/password_field", :password_field => :password_confirmation        
  %div= f.submit
  