%h3= @user.human_attribute_name( :new_page_title )
= form_for @user do |f|
  = error_messages_for :user
  %div
    = f.label :login
    = render "shared/red_star"
    = f.text_field :login              
  %div
    = f.label :email
    = render "shared/red_star"
    = f.text_field :email                  
  %div
    = f.label :last_name
    = f.text_field :last_name              
  %div
    = f.label :first_name
    = render "shared/red_star"
    = f.text_field :first_name            
  %div
    = f.label :password
    = render "shared/red_star"
    = f.password_field :password        
  %div
    = f.label :password_confirmation
    = render "shared/red_star"
    = f.password_field :password_confirmation             
  %div= f.submit
  