= form_for attr, :remote => true do |f|
  = render "#{SharedPath}/error_messages", :object => f.object
  = render "#{f.object.partial_path}/#{f.object.underscore}", :f => f
  = small_submit_button 
  - unless f.object.new_record?
    = link_to_delete attr
    = link_to_add_to_item attr