%div
  %h2= index_page_title_for @objects 
  = render 'orders/navigation'
  %table{:summary => ""}
    %caption= will_paginate @objects
    %tr= render_headers_of @objects
    = render_collection_of @objects
  %div{ :id => @objects.show_tag }
