%div
  %h2= "#{Order.model_name.human.pluralize}" + params[ :controller ].classify.constantize.status_nav 
  = render "orders/navigation"
  %table{ :summary => "" }
    %caption= will_paginate @objects
    %tr
      %th{:scope => "col"}= "№"
      %th{:scope => "col"}= t( :status )
      %th{:scope => "col"}= t( :sum )
      %th{:scope => "col"}= t( :count )
      %th{:scope => "col"}= t( :created_at )
      %th{:scope => "col"}= t( :updated_at )                  
    = render :partial => "orders/order", :collection => @objects
  %div{ :id => Order.show_tag }
