%div
  %h2= index_page_title_for Order 
  = render 'orders/navigation'
  %table{:summary => ""}
    %caption= will_paginate @objects
    %tr= render :partial => "header", :collection => Order.headers
    = render :partial => 'orders/order', :collection => @objects
  #order_details
  #item_content