%div
  %h2= "#{Order.model_name.human.pluralize}" + params[ :controller ].classify.constantize.status_nav 
  = render "orders/navigation"
  %table{ :summary => "" }
    %caption= will_paginate @objects
    %tr
      - @objects.headers.each do |header|
        %th{:scope => "col"}= header
    = render :partial => "orders/order", :collection => @objects
  %div{ :id => @objects.show_tag }
