%div
  - with_options :remote => true do |remote| 
    = t( :show ).colon
    = remote.link_to Order.human.pluralize, orders_path
    \//
    = remote.link_to ProcessedOrder.human.pluralize, processed_orders_path       
    = render "orders/processed_orders_amount" 
    \//
    = remote.link_to ClosedOrder.human.pluralize, closed_orders_path 