%div 
  = t( :show ).colon
  = link_to Order.model_name.human.pluralize, orders_path, :remote => true
  \//
  = link_to ProcessedOrder.model_name.human.pluralize, processed_orders_path, :remote => true       
  = render "orders/processed_orders_amount" 
  \//
  = link_to ClosedOrder.model_name.human.pluralize, closed_orders_path, :remote => true 