%tr{ :id => dom_id( order ), :onclick => "$.get('#{order_path(order)}')" }
  %td= order.id
  %td{ :id => order.status_tag }= order.status_
  %td.align_right= number_to_currency order.total
  %td.align_right= order.order_items_sum_amount
  %td.align_right= l( order.created_at, :format => :long )
  %td.align_right{ :id => order.updated_tag }= closed_at_or_link_to_close order
  %td= link_to_delete order