%fieldset.ui-widget-content.yoxview
  %div= render_id_of @object
  %div= render_ship_to_first_name_of @object
  %div= render_email_of @object    
  %div= render_phone_number_of @object
  %div= render_ship_to_city_of @object
  %div= render_ship_to_address_of @object
  %div= render_comments_of @object           
  %div
    %b= @object.details_title.colon
  = render @object.order_items
%div{ :id => Item.show_tag }
