= form_for contact, :remote => true do |f|
  = f.error_messages
  %div
    = f.label :name
    = f.text_field :name 
  %div
    = f.label :email
    = f.text_field :email         
  %div
    = f.label :phone
    = f.text_field :phone       
  %div
    = f.label :icq
    = f.text_field :icq       
  %div
    = f.label :address
    = f.text_area :address, :rows => 4                
  = small_submit_button
