= form_for contact, :remote => true do |f|
  = f.error_messages
  = with_options :f => f do |in_form|
    %div= in_form.render_name_field_of contact, {}
    %div= in_form.render_email_field_of contact, {}
    %div= in_form.render_phone_field_of contact, {}     
    %div= in_form.render_icq_field_of contact, {}         
    %div
      = in_form.render_address_field_of contact, {}         
      = submit_to contact
