%h2= show_page_title_for @object
%dl.ui-widget-content
  - with_options :object => @object do |for_object|
    %dd= for_object.render "attr", :attr => "name"
    %dd= for_object.render "email", :attr => "email"
    %dd= for_object.render "attr", :attr => "phone"
    %dd= for_object.render "attr", :attr => "icq"
    %dd= for_object.render "attr", :attr => "address"  
