%h2= @object.class.model_name.human.pluralize
%dl.ui-widget-content
  %dd
    = image_tag NameImage
    = @object.name 
  %dd
    = image_tag EmailImage
    = mail_to @object.email, nil, :subject => @object.class.human_attribute_name( "email_subject" )
  %dd
    = image_tag PhoneImage
    = @object.phone    
  %dd
    = image_tag ICQImage
    = @object.icq
  %dd
    = image_tag AddressImage
    = @object.address        
