%h2= show_page_title_for @object
%dl.ui-widget-content
  %dd= render_name_of @object
  %dd= render_email_of @object
  %dd= render_phone_of @object
  %dd= render_icq_of @object
  %dd= render_address_of @object
