%h2= @object.class.human_attribute_name( :new_page_title ) 
= form_for @object, :remote => true do |f|
  = render "#{SharedPath}/error_messages", :object => f.object
  %fieldset.ui-widget-content
    %div
      = f.label :email
      = f.text_field :email
      = render "shared/red_star"
    %div
      = f.label :phone_number
      = f.text_field :phone_number
      = render "shared/red_star"                    
    %div
      = f.label :ship_to_first_name
      = f.text_field :ship_to_first_name
      = render "shared/red_star"            
    %div
      = f.label :ship_to_city
      = f.text_field :ship_to_city              
    %div
      = f.label :ship_to_address
      = f.text_area :ship_to_address, :rows => 4        
    %div
      = f.label :comments
      = f.text_area :comments, :rows => 4        
    %div
      = ProcessedOrder.human_attribute_name( :captcha )
      = render "shared/red_star"       
      = captcha_block
  %div
    = render "shared/red_star"
    = " - " + t( :required_fields )
  %div= f.submit 
