%h2= new_page_title_for @object 
= form_for @object, :remote => true do |f|
  = f.error_messages
  - with_options :f => f, :object => @object do |in_form|
    %fieldset.ui-widget-content
      %div= in_form.render "shared/text_field", :text_field => :email, :required => true
      %div= in_form.render "shared/text_field", :text_field => :phone_number, :required => true      
      %div= in_form.render "shared/text_field", :text_field => :ship_to_first_name, :required => true      
      %div= in_form.render "shared/text_field", :text_field => :ship_to_city      
      %div= in_form.render "text_area", :text_area => :ship_to_address
    %fieldset.ui-widget-content
      %div= in_form.render "text_area", :text_area => :comments               
  %fieldset.ui-widget-content= render "processed_orders/captcha"
  %div
    = render "shared/red_star"
    = " - " + t( :required_fields )
  %div= f.submit 
