= form_for @object, :remote => true, :html => { :class => "ui-widget-content" } do |f|
  = render "#{SharedPath}/error_messages", :object => f.object
  %div
    = f.label :name
    = render "shared/red_star"
    = f.text_field :name
    = f.label :price
    = render "shared/red_star"
    = f.text_field :price 
  %div
    = f.label :category
    = render "shared/red_star" 
    %span{ :id => Category.attrs_tag }
      = render :partial => "items/category", :object => f.object.category unless f.object.category.blank? 
    = link_to_change Category
    = f.label :season
    = render "shared/red_star"
    - [ SummerCatalogItem, WinterCatalogItem ].each do |season|
      = f.radio_button :type, season
      = image_tag season.season_icon, :size => "24x24"
  %div
    = f.label :sizes
    %span{ :id => Size.attrs_tag }
      = render :partial => "items/attr", :collection => f.object.sizes unless f.object.sizes.empty? 
    = link_to_change Size
  %div
    = f.label :colours
    %span{ :id => Colour.attrs_tag }
      = render :partial => "items/attr", :collection => f.object.colours unless f.object.colours.empty? 
    = link_to_change Colour     
  %div
    %span{ :id => Photo.attrs_tag }
      = render :partial => "items/photo", :collection => f.object.photos unless f.object.photos.empty?  
    = link_to_change Photo    
  #form_blurb
    = f.label :blurb
    %div= f.text_area :blurb, :rows => 3  
  = f.label :created_at
  = l( f.object.created_at, :format => :long ) unless f.object.created_at.blank?    
  = f.label :updated_at
  = l( f.object.updated_at, :format => :long ) unless f.object.updated_at.blank?    
  = image_submit_tag SaveImageLarge, :title => f.object.human_attribute_name( :save_changes ) 
    