%div
  %h2= index_page_title_for @objects
  %table{ :id => @objects.dom_id }
    %caption= will_paginate @objects
    %tr
      = render_headers_of @objects
      %th{:scope => "col"}= link_to_new @object.class
    = render @objects
  %div{ :id => @object.new_tag }= render @object.new_partial