%div
  %h2= Item.human.pluralize
  %table{ :id => @objects.tableize }
    %caption= will_paginate @objects
    %tr
      - with_options :remote => true do |remote|
        %th{ :scope => "col" }
          = remote.link_to Item.human_attribute_name( :name ), items_path( :sort_by => "name" )
        %th{ :scope => "col" }
          = remote.link_to Size.human.pluralize, items_path( :sort_by => "sizes_name" )                       
        %th{ :scope => "col" }
          = remote.link_to Colour.human.pluralize, items_path( :sort_by => "colours_name" )
        %th{ :scope => "col" }
          = remote.link_to Category.human, items_path( :sort_by => "category_name" )
        %th{ :scope => "col" }
          = remote.link_to Item.human_attribute_name( :price ), items_path( :sort_by => "price" )              
        %th{:scope => "col"}
          = remote.link_to image_tag( NewItemImage, :title => Item.human_attribute_name( :new_title ) ), new_item_path
    = render @objects
  %div{ :id => Item.new_tag }= render @object.new_partial