%tr{ :id => "#{item.class.name.underscore}_#{item.id}", :onclick => "$.get('#{edit_item_path(item)}')" }
  %td= item.name
  - [ "size", "colour" ].each do |attr|
    %td= render :partial => "shared/#{attr}", :collection => item.send( attr.tableize ) rescue nil      
  %td= h item.category.name rescue nil
  %td.align_right= roubles item.price
  %td= link_to_delete item
