%tr{ :id => dom_id( item ), :onclick => "$.get('#{edit_item_path(item)}')" }
  %td= item.name
  %td= render_sizes_of item
  %td= render_colours_of item 
  %td= render_category_of item
  %td.align_right= roubles item.price
  %td= link_to_delete item
