%span{ :id => dom_id( photo ) }
  %span.yoxview= link_to_enlarge photo
  = link_to_remove_from_item photo
  %div
    = fields_for "item[existing_photo_attributes][]", photo do |photo_form|
      = render "#{SharedPath}/photo_comment", :f => photo_form 
    = check_box_tag photo.hidden_field_name, photo.id, true, :style => "visibility: hidden;"     