%fieldset.ui-widget-content
  %h3= @object.name
  = render :partial => "#{SharedPath}/size", :collection => @object.sizes unless @object.sizes.empty?
  = render :partial => "#{SharedPath}/colour", :collection => @object.colours unless @object.colours.empty?     
  = @object.category.name
  = @object.season.name
  %div= number_to_currency @object.price  
  %div= @object.blurb
  .thumbs.yoxview
    = render :partial => "#{SharedPath}/photo", :collection => @object.photos unless @object.photos.empty?     