%fieldset.ui-widget-content
  %h3= @object.name
  = render_sizes_of @object
  = render_colours_of @object           
  = @object.category.name unless @object.category.blank?
  = @object.season.name
  %div= render_price_of @object  
  %p= @object.blurb
  .thumbs.yoxview= render_thumbs_of @object