= form_for @object, :remote => true, :html => { :class => "ui-widget-content" } do |f|
  = f.error_messages
  = f.hidden_field :parent_id
  %div
    = f.label :name
    = f.text_field :name         
  %div
    = f.label :subject
    = f.text_field :subject   
  %div
    = f.label :body
    = f.text_area :body, :rows => 5
  = f.submit
