%div{ :id => dom_id( forum_post ), :style => forum_post.style }
  = link_to forum_post.subject.html_safe, forum_post, :remote => true 
  = label_tag ForumPost.human_attribute_name( :name )
  = h forum_post.name   
  \....
  = l forum_post.created_at, :format => :long
  = link_to_delete forum_post if self.current_user
