%h2= index_page_title_for ForumPost
%fieldset#forum.ui-widget-content
  = link_to_new ForumPost
  = ForumPost.no_forum_posts_text unless @objects.first
  %div{ :id => @objects.dom_id }= render @objects rescue nil  
  = will_paginate @objects rescue nil
#post
#post_new
 