%h2= ForumPost.human
%fieldset.ui-widget-content
  = link_to image_tag( NewForumPostImage ) + ForumPost.human_attribute_name( :new_subject ), new_forum_post_path, :remote => true
  - if @objects.new_record?
    = ForumPost.human_attribute_name( :empty_forum_message )
  - else
    %div{ :id => @objects.tableize }= render @objects
    = will_paginate @objects
%div{ :id => ForumPost.show_tag }
%div{ :id => ForumPost.new_tag }
 