%h2= ForumPost.model_name.human
%fieldset.ui-widget-content
  = link_to image_tag( NewForumPostImage ) + t( :new_subject ), new_forum_post_path, :remote => true
  - if @objects.empty?
    = t( :empty_forum_message )
  - else
    %div{ :id => @objects.dom_id }= render @objects
    = will_paginate @objects
%div{ :id => @objects.show_tag }
%div{ :id => @objects.new_tag }
 