%fieldset.ui-widget-content
  = label_tag ForumPost.human_attribute_name( :subject )
  = h @object.subject      
  = label_tag ForumPost.human_attribute_name( :name )
  = h @object.name      
  %div
    = label_tag ForumPost.human_attribute_name( :body )
    = h @object.body  
  %div= link_to_reply
