%fieldset.ui-widget-content  
  %b= ForumPost.subject_rus.colon
  = h @object.subject
  %b= ForumPost.name_rus.colon
  = h @object.name
  %p
    %b= ForumPost.body_rus.colon 
    = h @object.body
  %p= link_to_reply_to @object
