= f.text_field :name
= f.text_field :html_code
= link_to_add_html_code_to attr.class
= content_tag :input, "", :type => "color", :hex => true, :value => "#ffffff"
= render "shared/colour", :colour => attr unless attr.new_record?
