%ul.ui-tabs-nav.ui-widget-header.ui-helper-clearfix
  %li.ui-state-default= link_to_index Order
  %li.ui-state-default= link_to_index Item            
  %li.ui-state-default= link_to_index Contact            
  %li.ui-state-default= link_to_index_local CatalogItem            
  %li.ui-state-default= link_to_logout User