!!! Strict
%html
  %head
    %title= APPLICATION_TITLE
    = javascript_include_tag application_javascripts
    = stylesheet_link_tag application_stylesheets
    = csrf_meta_tag
  %body
    #wrapper
      #header
        = render "layouts/search"
        = link_to_index ForumPost
        = link_to_show Contact.first
        %h3= ( "одежда для<br/>русских тоев" ).html_safe
        = image_tag "bestic.png"
        %h5= link_to DEMO, items_path        
      #nav= render "layouts/nav", :cart => session.cart unless do_not_show_nav
      %div{ :id => ContentTag }= yield
