!!! Strict
%html
  %head
    %title= t( :application_title )
    = javascript_include_tag application_javascripts
    = stylesheet_link_tag application_stylesheets
    = csrf_meta_tag
  %body
    #wrapper
      #header= render "layouts/header"       
      #nav= render "layouts/nav" unless do_not_show_nav
      %div{ :id => ContentTag }= yield
