!!! Strict
%html
  %head
    %title= t( :application_title )
    = javascript_include_tag application_javascripts
    = stylesheet_link_tag application_stylesheets
    = csrf_meta_tag
  %body
    #wrapper
      #header
        - form_tag search_catalog_items_path, :remote => true, :id => "search_box" do
          = search_field_tag :q
          = image_submit_tag SearchImage, { :title => CatalogItem.human_attribute_name( :search ) }
        = link_to image_tag( ForumImage ) + ForumPost.model_name.human.pluralize, forum_posts_path, :remote => true 
        = link_to image_tag( ContactsImage ) + Contact.model_name.human.pluralize, contact_path( Contact.first ), :remote => true 
        %h3= t( :header_title ).html_safe
        = image_tag HeaderImage
        %h5= link_to t( :demo ), items_path               
      #nav= render "layouts/nav" unless do_not_show_nav
      %div{ :id => ContentTag }= yield
