!!! Strict
%html
  %head
    %title= t :admin_title
    = javascript_include_tag items_javascripts
    = stylesheet_link_tag items_stylesheets
    = csrf_meta_tag
  %body
    #header
      %h2= t :admin_title
    #tabs.ui-tabs
      %ul.ui-tabs-nav.ui-widget-header.ui-helper-clearfix
        - with_options :remote => true do |remote|
          %li.ui-state-default= remote.link_to Order.model_name.human.pluralize, orders_path  
          %li.ui-state-default= remote.link_to Item.model_name.human.pluralize, items_path               
          %li.ui-state-default= remote.link_to Contact.model_name.human.pluralize, contacts_path
        %li.ui-state-default= link_to t( :back_to_shop ), CatalogItem            
        %li.ui-state-default= link_to t( :logout ), logout_path      
    %div{ :id => ContentTag, :style => Item.style }= yield
    %iframe{ :id => Photo.upload_frame, :name => Photo.upload_frame }
              