#accordionResizer
  #left_accordion
    - [ SummerCatalogItem, WinterCatalogItem, CatalogItem ].each do |season_class|
      %h3= link_to image_tag( season_class.season_icon ) + season_class.season_name      
      %div
        %span.link_to_season= link_to_season( season_class )
        - season_class.find( :all, :select => "category_id", :group => "category_id" ).each do |grouped_by_category|
          = link_to_category( grouped_by_category.category, season_class.name.tableize )      
    %h3= link_to image_tag( CartImage ) + cart.class.model_name.human
    %div{ :id => cart.content_tag }= render "carts/index"
    = set_drop_receiving_element cart.content_tag
