#accordionResizer
  #left_accordion
    - [ SummerCatalogItem, WinterCatalogItem, CatalogItem ].each do |season_class|
      %h3= link_to image_tag( season_class.season_icon ) + season_class.human      
      %div
        %span.link_to_season= link_to_season( season_class )
        - season_class.find( :all, :select => "category_id", :group => "category_id" ).each do |grouped|
          = link_to_category( grouped.category, season_class.tableize )      
    %h3= link_to image_tag( CartImage ) + cart.human
    #cart= render "carts/index"
    = set_drop_receiving_element "cart"
